{% extends "base.html.twig" %}

{% block body %}

<main class="container">
    <h1>Liste des articles</h1>
    <section class="row">
        {% for article in articles %}
            <article class="col-4">
                <h2>{{ article.titre }}</h2>
                <p>{{ article.contenu }}</p>
                <p>écrit par : {{ article.auteur.nom }}</p>
                <div>
                    <a href="{{ path("article_single" , {"id" : article.id }) }}"  class="btn btn-outline-dark btn-sm">Laisser un commentaire</a>
                </div>
            </article>
        {% endfor %}
    </section>
</main>

{% endblock %}