{% extends "base.html.twig" %}

{% block body %}
<div class="container">
    {% if id_article is defined %}
        <h1>Mettre à jour l'article numéro {{ id_article }}</h1>
    {% else %}
        <h1>Créer un nouvel article</h1>
    {% endif  %}
    {{  form(form) }}
    {# /article/new #}
</div>
{% endblock %}
