{% extends "front.html.twig" %}

{% block body %}
<main class="container">
    <h1>créer un nouvel étudiant</h1>
    {% for m in app.flashes("m") %}
        <p class="alert alert-success">{{ m }}</p>
    {% endfor %}
    {{ form(form) }}
</main>
{% endblock %}