{% extends "front.html.twig" %}

{% block titre %} formulaire twig {% endblock %}

{% block body %}
    <main class="container">
        {{ form(form) }}
        {% for message in  app.flashes("message") %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
    </main>
{% endblock %}